html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, rgb(100, 0, 50), black);
}

canvas {
  display: block;
}
